

*.suo
*.ilk
*.pdb
*.log
*.exe
*.sdf
*.obj
*.tlog
*.idb
Lab_10_add/Lab_10_d/void
*.opensdf
Lab_11_add/.vs/Lab_11_add/v14/.suo
Lab_projects/Lab_11_add/.vs/Lab_11_add/v14/.suo
Lab_projects/Lab_11_add/.vs/Lab_11_add/v14/.suo
*.enc
*.enc
*.enc
*.user
*.cache
*.db
*.json
*.ipch
*.sqlite
*.opendb
*.db-shm
*.db-wal
*.dll
*.iobj
*.sln
